.x-box-mc{
	font-family:Arial, Helvetica, sans-serif !important;
}
ul.holder {
	margin: 0;
	border: 1px solid #C2CACF;
	overflow: hidden;
	height: auto !important;
	height: 1%;
	padding: 4px 5px 0;
}
ul.holder_customer{
	border: 1px solid #A8A8A8;
    height: 20px !important;
    overflow: hidden;
    padding: 1px 5px 0;
}
*:first-child+html ul.holder {
	padding-bottom: 2px;
}
* html ul.holder {
	padding-bottom: 2px;
} /* ie7 and below */
ul.holder li {
	float: left;
	list-style-type: none;
	margin: 0 5px 4px 0;
	white-space:nowrap;
}
ul.holder li.bit-input input {
	width:346px !important;
}

ul.holder li.bit-box{
}
ul.holder li.bit-box {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #CAD8F3;
	background: #DEE7F8;
	padding: 1px 5px 2px;
}
ul.holder li.bit-box-focus {
	border-color: #598BEC;
	background: #598BEC;
}
ul.holder li.bit-input input {
	width: auto;
	overflow:visible;
	margin: 0;
	border: 0px;
	outline: 0;
	padding: 3px 0px 2px;
} /* no left/right padding here please */
ul.holder li.bit-input input.smallinput {
	width: 20px;
}
/* Facebook demo CSS */      
ul.holder {
/*	width: 500px;
*/}
ul.holder {
	margin: 7px !important;
}
ul.holder li.bit-box, #apple-list ul.holder li.bit-box {
	padding-right: 15px;
	position: relative;
	z-index:1000;
}
#apple-list ul.holder li.bit-input {
	margin: 0;
}
#apple-list ul.holder li.bit-input input.smallinput {
	width: 5px;
}
ul.holder li.bit-hover {
	background: #ebeeef;
	border: 1px solid #6D95E0;
}
ul.holder li.bit-box-focus {
	background: #ebeeef;
}
ul.holder li.bit-box a.closebutton {
	position: absolute;
	right: 4px;
	top: 5px;
	display: block;
	width: 7px;
	height: 7px;
	font-size: 1px;
	background: url('close.gif');
}
ul.holder li.bit-box a.closebutton:hover {
	background-position: 7px;
}
ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover {
	background-position: bottom;
}
/* Autocompleter */



/**
dsfdsf
*/


ul.holder_customer li {
	float: left;
	list-style-type: none;
	margin: 0 5px 4px 0;
	white-space:nowrap;
}
ul.holder_customer li.bit-input input {
	width:160px !important;
}

ul.holder_customer li.bit-box{
}
ul.holder_customer li.bit-box {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #CAD8F3;
	background: #DEE7F8;
	padding: 1px 5px 2px;
}
ul.holder_customer li.bit-box-focus {
	border-color: #598BEC;
	background: #598BEC;
}
ul.holder_customer li.bit-input input {
	width: auto;
	overflow:visible;
	margin: 0;
	border: 0px;
	outline: 0;
	padding: 3px 0px 2px;
} /* no left/right padding here please */
ul.holder_customer li.bit-input input.smallinput {
	width: 20px;
}
/* Facebook demo CSS */      
ul.holder_customer {
/*	width: 500px;
*/}
ul.holder_customer {
	margin: 7px 0 !important;
}
ul.holder_customer li.bit-box, #apple-list ul.holder_customer li.bit-box {
	padding-right: 15px;
	position: relative;
	z-index:1000;
}
#apple-list ul.holder_customer li.bit-input {
	margin: 0;
}
#apple-list ul.holder_customer li.bit-input input.smallinput {
	width: 5px;
}
ul.holder_customer li.bit-hover {
	background: #ebeeef;
	border: 1px solid #6D95E0;
}
ul.holder_customer li.bit-box-focus {
	background: #ebeeef;
}
ul.holder_customer li.bit-box a.closebutton {
	position: absolute;
	right: 4px;
	top: 5px;
	display: block;
	width: 7px;
	height: 7px;
	font-size: 1px;
	background: url('close.gif');
}
ul.holder_customer li.bit-box a.closebutton:hover {
	background-position: 7px;
}
ul.holder_customer li.bit-box-focus a.closebutton, ul.holder_customer li.bit-box-focus a.closebutton:hover {
	background-position: bottom;
}

/***/

.facebook-auto {
	display: none;
	position: absolute;
	z-index:9;
}
.facebook-auto .default {
	padding: 5px 7px;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;
	font-size:11px;
	width:341px;
}
.facebook-auto ul {
	display: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	border:1px solid #B9C2CB;
}
.facebook-auto ul li {
	background-color:#F6F9FA;
	list-style-type:none;
	margin:0;
	padding:5px 12px;
	z-index:1000;
	cursor:auto;
}
.facebook-auto ul li em {
	font-weight: bold;
	font-style: normal;
}
.facebook-auto ul li.auto-focus {
	background: #ebeeef;
}
.facebook-auto ul li.auto-focus em {
	background: none;
}
.deleted {
	background-color:#4173CC !important;
}
.hidden {
	display:none;
}
#demo ul.holder li.bit-input input {
	padding: 2px 0 1px;
	border: 1px solid #999;
}
.ie6fix {
	height:1px;
	width:1px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
}
.slider-sprite {
	background:url(../images/slider-sprite.png) no-repeat scroll 0 0 transparent;
}
.drawer {
	padding: 5px 7px;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;
	font-size:11px;
}
.btn-drawer {
	background-position:left -145px;
	background-repeat:no-repeat;
	display:block;
	height:17px;
	margin-left:2em;
	overflow:hidden;
	position:relative;
	top:-5px;
	width:33px;
	outline:none;
}
.btn-drawer-open {
	background-position:left -210px;
	top:0px;
}

.holder input.maininput{
	width:346px;}